---
layout: default
title: Sasha Bondar
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}
  <div class="home-container">
    <div class="home-photo item">
      <img src="{{ '/assets/sasha-bondar.png' | relative_url }}" alt='Sasha Bondar - Ruby On Rails consulting' width="250"/>
    </div>
    <div class="home-what item">
      <h2>Who I am</h2>
      <p>
      Founder at <a href="https://vertalab.com">Vertalab</a>, <a href="http://rubyforce.io">RubyForce</a>. CTO at <a href="https://strivemax.com">StriveMax</a> and <a href="https://studlava.com">Studlava</a>. Ruby developer, mentor and speaker.
      </p>
      <h2>That's what I do</h2>
      <p>
      <ul>
        <li>
          <a href="{{ '/ruby-on-rails-consulting' | relative_url }}">Ruby on Rails consulting</a>
        </li>
        <li>
          Business digital transformation consulting
        </li>
        <li>
          Public speaking
        </li>
      </ul>
      </p>
    </div>
  </div>

</div>
