---
layout: default
title: Reintech
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}
  <div class="home-container">
    <div class="home-what item">
      <h2>Reintech: як це працює</h2>
      <p>
      <ol>
        <li>Ви подаєте заявку на створення профайлу на сторінці <a href='https://reintech.io/developer/apply' target="_blank">https://reintech.io/developer/apply</a></li>

        <li>Ми перевіряємо кожного кандидати по трьох критеріях: досвід + технічна кваліфікація, англійська і навички комунікації. Мінімальний досвід, потрібний для проходження відбору — 3 роки професійного написання коду. Технічну кваліфікацію ми перевіряємо з допомогою онлайн тесту.</li>

        <li>З нашою допомогою ви заповнюєте профайл і встановлюєте бажаний погодинний рейт. Наша спільна задача зробити ваш профайл привабливим для клієнтів.</li>
        <li>Клієнти переглядають ваш профіль і просять призначити співбесіду.</li>
        <li>На співбесіді ви знайомитесь з проектом, командою і процесом розробки. Якщо ваш влаштовує проект і ви підходите клієнту — він пропонує роботу. Після прийняття пропозиції, ви маєте до місяця часу, щоб почати працювати.</li>
      </ol>
      </p>
      <p>
      <h3>На який рейт я можу претендувати?</h3>
      <p>Ми хочемо дати можливість програмістам працювати по рейтах, які клієнти вже платять компаніям. Для всіх розробників, які пройдуть наш відбір, мінімальний рейт буде $30/год. Верхньої межі ми не ставимо — все у ваших руках. Ось <a href='https://docs.google.com/spreadsheets/d/13pzoYPfs-hKN_54qwPR2xTHRn7J2w2LYNR1Hk64cNxI/edit' target="_blank">табличка</a>, вона показує як погодинний рейт формує місячний дохід.</p>

      <h3>Чи це фріланс?</h3>
      <p>
      Ні, ми шукаємо довгі(від 6 місяців) проекти з повною зайнятістю. Це повноцінна робота, але віддалена.
      </p>

      <h3>Чи можу я створити профайл, працюючи на роботі?</h3>
      <p>
Так. Створення профілю ні до чого не зобов’язує. Ви можете спокійно працювати на теперішній роботі і розглядати цікаві для себе пропозиції. Ми робимо систему, де клієнти будуть боротись за вас.
      </p>
      <h3>Хто має доступ до мого профайлу?</h3>
      <p>
Каталог програмістів є закритим. Клієнти проходять подвійну перевірку перед наданням доступу до каталогу: онлайн-перевірка і підписання контракту.
      </p>

      <h3>Чи надаєте ви офіс та техніку?</h3>
      <p>
Ні. Ми рекомендуємо працювати з рекомендованих нами коворкінгів. Часто клієнти будують команди і вимагають присутності команди разом в одному офісі. Загалом, ви можете домовитись про роботу з будь-якого місця, наприклад, з дому.
      </p>

      <h3>Чи є відпустки і вихідні?</h3>
      <p>
Звичайно, ви плануєте відпустку і вихідні так як це робите зараз, але це буде неоплачуваний час. Тобто, якщо ви відпочавали один тиждень в місяці, оплату ви отримаєте за три робочі тижні.
      </p>

      <h3>Що буде відбуватись, коли закінчується проект? Чи можу я залишитись без роботи?</h3>
      <p>
Згідно нашого контракту з клієнтом, ми повідомимо вас про закінчення проекту як мінімум за місяць до його закінчення. Паралельно ви зможете проходити інтерв’ю на інші проекти. Шанс, що ви будете деякий період без роботи існує, але практика показує, що досвідчені програмісти без роботи не сидять.
      </p>

      <h3>Чи можу я змінити проект?</h3>
      <p>
Так. Ви можете змінити доступність свого профайлу і очікувати нові запити на інтерв’ю.
      </p>

      <h3>Чи можу я працювати над двома проектами паралельно</h3>
      <p>
На даний момент ні. Ми розглядаємо проекти тільки з повною зайнятістю.
      </p>

      <h3>Як ми заробляємо?</h3>
      <p>
Наш прибуток оплачує клієнт — ми додаємо фіксовану помісячну плату за кожен активний контракт з розробником. Також є невелика фіксована комісія на стороні програміста для відшкодування наших прямих витрат.
      </p>

      <h3>Звідки з’явився проект? Чи є у вас щось більше, ніж гарний лендінг?</h3>
      <p>
      Відповідаю на це в <a href="https://medium.com/oleksandr-bondar/%D0%BF%D0%B5%D1%80%D0%B5%D0%B4%D1%96%D1%81%D1%82%D0%BE%D1%80%D1%96%D1%8F-%D1%80%D0%B5%D1%96%D0%BD%D1%82%D0%B5%D1%85-5638b643ca0b" target="_blank">окремій статті</a>.
      </p>
      <h3>Хто займається бухгалтерією, яка ваша комісія і за що мені потрібно платити додатково?</h3>
      <p>Наша комісія становить $50/міс. тільки коли в тебе є активний проект. Це наші прямі витрати на проведення твого платежу і оплату часу людини, яка представляє твої інтереси перед клієнтом і допомагає тобі отримати максимальну вигоду від роботи на платформі.
      </p>

      <p>Для ведення бухгалтерського обліку ми рекомендуємо скористатись послугами наших партнерів, це може коштувати $30/міс. З іншого боку, ведення звітності і сплата податків в Таксері займає 1 год в квартал, тому це легко можна робити самостійно.</p>

      <p>Додатково тобі потрібно буде оплачувати офіс, орієнтовно це $150/міс.</p>

      <p>Ми будуємо інфраструктуру, яка дозволить максимально реалізувати потенціал програміста. Наша професія дозволяє мінятись, слідувати глобальним тенденціям і не обмежуватись локальними реаліями та безперспективними проектами. Щоб стати на цей шлях росту, потрібно трохи сміливості і готовності боротись. Ймовірно, це саме те, чого тобі вже давно хотілость, адже усі зміни до кращого настають після виходу з існуючої зони комфорту.</p>

      <p>Щоб стати частинкою великих змін, почни з створення профілю — <a href='https://reintech.io/developer/apply' target="_blank">https://reintech.io/developer/apply</a></p>

      <p>
      <h3>Корисні посилання</h3>
      Телеграм канал: <a href='https://t.me/reintech' target="_blank">t.me/reintech</a><br/>
      Інстаграм: <a href="https://instagram.com/kiosan1" target="_blank">kiosan1</a><br/>
      <a href="https://soundcloud.com/sashabondar" target="_blank">Подкаст</a> про софт скіли для програмістів.
      <br/>
      <a href='https://medium.com/oleksandr-bondar' target="_blank">Блог інженера</a>
      </p>
      <p>
      <h3>Відео про те, чому варто створити профіль на платформі Reintech </h3>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/BZInTy5sN7Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </p>
    </div>
  </div>
</div>
