---
layout: default
title: Reintech
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}
  <div class="home-container">


    <div class="home-what item">

      <h3>Статті для програмістів</h3>
      <ul>
          {% for post in site.posts %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
                          </li>
                            {% endfor %}
      </ul>


      <p>
      <h3>На який рейт я можу претендувати?</h3>
      <p>Ми даємо програмістам можливість працювати по рейтах, які клієнти вже платять аутсорс компаніям. Зазвичай, це $30-$60/год.  Ось <a href='https://docs.google.com/spreadsheets/d/13pzoYPfs-hKN_54qwPR2xTHRn7J2w2LYNR1Hk64cNxI/edit' target="_blank">табличка</a>, вона показує як погодинний рейт формує місячний дохід.</p>

      <h3>Чи це фріланс?</h3>
      <p>
      Ні, ми шукаємо довгі (від 6 місяців) проекти з повною зайнятістю. Це повноцінна робота, але віддалена.
      </p>
      <h3>Що кажуть девелопери, які вже працюють через Реінтех?</h3>
      <p>
        Тут є трохи відгуків: <a href="https://reintech.io/developer/apply" target="_blank">https://reintech.io/developer/apply</a>
      </p>

      <h3>Чи потрібно звільнятись з роботи, щоб зареєструватись на платформі?</h3>
      <p>
         Ні, звільнятись не потрібно. Створення профілю ні до чого не зобов’язує. Ви можете спокійно працювати на теперішній роботі і розглядати цікаві для себе пропозиції. Ми робимо систему, де клієнти самі будуть боротись за вас.
      </p>
      <h3>Хто має доступ до мого профілю?</h3>
      <p>
Ви можете зробити свій профіль загальнодоступним або прихованим. Приховані профілі не видно за межами нашої платформи.
      </p>

      <h3>Чи надаєте ви офіс та техніку?</h3>
      <p>
Ні офісу, ні обладнання не надається. Вам потрібно мати власний комп’ютер та робоче місце, що дозволить вам працювати віддалено, як з дому, так і з будь-якого іншого місця. Як варіант, ви можете орендувати робоче місце в коворкінгу.
      </p>

      <h3>Чи є відпустки і вихідні?</h3>
      <p>
Тут немає ні оплачуваних відпусток, ні вихідних.
Однак ви можете планувати свій відпочинок більш гнучко — це може бути будь-яка тривалість і періодичність, погоджена з вашим клієнтом.
      </p>

      <h3>Що буде відбуватись, коли закінчується проект? Чи можу я залишитись без роботи?</h3>
      <p>
Клієнти зобов'язані повідомити про закінчення проекту як мінімум за місяць. В цей час ви зможете проходити співбесіди на інші проекти. Шанс, що ви будете деякий період без роботи існує, але практика показує, що досвідчені програмісти без роботи не сидять.
      </p>

      <h3>З ким потрібно домовлятись про зарплату і підвищення?</h3>
      <p>
       Ви домовляєтесь напряму з клієнтом.
      </p>

      <h3>Якщо конкретніше, в чому перевага роботи через Реінтех для програміста?</h3>
      <p>
       <ul>
         <li><b>Це вигідно</b> — ви можете домовитись на будь-який погодинний рейт, ми не ставимо жодних обмежень.</li>
         <li><b>Це прозоро</b> — ви точно знаєте скільки вам платить клієнт і за що платите ви. Ви - наш клієнт.</li>
         <li><b>Це безпечно</b> — ми відстоюємо ваш інтерес, допомагаємо у вирішенні конфліктних ситуацій і забезпечуємо оплату вашої роботи.</li>
      </ul>
      </p>

      <h3>Чи можу я змінити проект?</h3>
      <p>
Так. Ви можете відкрити свій профіль і очікувати запити від інших клієнтів, продовжуючи працювати з поточним клієнтом.
      </p>

      <h3>Звідки з’явився проект?</h3>
      <p>
      Відповідаю на це в <a href="https://medium.com/oleksandr-bondar/%D0%BF%D0%B5%D1%80%D0%B5%D0%B4%D1%96%D1%81%D1%82%D0%BE%D1%80%D1%96%D1%8F-%D1%80%D0%B5%D1%96%D0%BD%D1%82%D0%B5%D1%85-5638b643ca0b" target="_blank">окремій статті</a>.
      </p>

      <h3>Яка ваша комісія і за що мені потрібно платити додатково?</h3>
      <p>Наша комісія становить $50/міс. тільки коли у вас є активний проект. Ця сума буде автоматично знята з вашого щомісячного інвойсу.
      </p>

      <p>Для ведення бухгалтерського обліку ми рекомендуємо скористатись сервісами типу Таксер, це займає 1 год в квартал. Можна найняти бухгалтера.</p>

      <p>Додатково потрібно буде оплачувати місце в коворкінгу.</p>

      <hr>
      <p>Контроль над вашою кар’єрою стане поворотним моментом у вашому зростанні як професіонала.</p>


    </div>
  </div>
</div>
